@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .login-container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .login-container h2 {
                margin-bottom: 20px;
            }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", required = "required" })
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                {
                    <div class="text-danger">@ViewData["ErrorMessage"]</div>
                }

                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
